<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Use the attributes designed in the Controller</p>
<p>
    Use the template th:text="${attributeName}"
</p>
<h2 th:text="${name}"></h2>
<h2 th:text="${course}"></h2>
<h2 th:text="${subject}"></h2>
<h2 >THE REQUESTED STUDENT ID IS</h2>
<h2 th:text="${studentID}"></h2>
<h2 >THESE ARE MY FAVORITE NUMBERS</h2>
<h2 th:text="${faveNums}"></h2>
<h2 >THIS IS THE BEST ONE</h2>
<h2 th:text="${faveNums.get(2)}"></h2>
<h2 th:text="${faveNum}"></h2>
<h2 >THIS IS MY STUDENT</h2>
<h2 th:text="${student}"></h2>
<h2 >HIS NAME IS</h2>
<h2 th:text="${student.getFirstName()}"></h2>
<h2 >HIS ID IS</h2>
<h2 th:text="${student.getId()}"></h2>




</body>
</html>