<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>
<!--    This is how to write comments
The head tag is a container for metadata(is not displayed on the page)
title, styles(css), link, scripts, meta data-->
</head>
<body>
Welcome to Java Developer course, enlightened student!

<p>It's better to use tags though. This is the p tag.</p>
<b>Use the b tag to bold text.</b>
<h1>Lets Practice Headings, there are 6 of them</h1>
<h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>
<h4>Spring Boot</h4>
<h5>Spring Boot</h5>
<h6>Spring Boot</h6>

Use attributes in the tags
<h1 align="center" style="color: blue">Lets try align and style</h1>

<img src="springboot.png" alt="Spring boot image">

<ul>
    <li>Java</li>
    <li>MVC</li>
    <li>ORM</li>
</ul>

<a href="https://cydeo.com">CydeoLinkHere</a>

<br>
<br>
<table>
    <thead>
    <tr>
        <td>Firstname</td>
        <td>Lastname</td>
        <td>Salary</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Mike</td>
        <td>Smith</td>
        <td>120000</td>
    </tr>
    </tbody>
</table>


</body>
</html>